<!DOCTYPE html>
<html>
<head>
  <title>TutorialsPlatform</title>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.js"></script>
    <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "shared/header" %>
<%= render partial: "shared/message" %>
<main>
<div class="container">
    <%= yield %>
</div>
</main>

<%= render partial: "shared/footer" %>
</body>
<script>
     $( document ).ready(function(){

        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();

     });

</script>
</html>
